*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  */
/* footer */
.main-footer{
    background: linear-gradient(100deg, rgb(0, 0, 0), rgb(2, 14, 45));
}
.footer {
    margin: 2rem 0 0 0;
    display: grid;
    grid-template-columns: 200px 200px 400px auto;
    gap: 1rem;
    width: 100%;
  }
  
  .logo-foot {
    width: 100%;
    margin: 1rem;
  }
  
  .logo-foot h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    transition: 0.4s;
  }
  
  .logo-foot h1:hover {
    color: rgb(176, 180, 180);
  }
  
  .about-footer {
    width: 100%;
  }
  
  .address-footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .address-footer p {
    text-indent: 1rem;
  }
  
  .contact-footer {
    width: 100%;
    border-radius: 10px;
    color: #fff;
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: start;
    line-height: 40px;
  }
  


  @media (min-width: 1300px) {
    .main-footer{
        max-width: 100%;

    }
    .footer {
      max-width: 1000px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (max-width: 1300px) {
    .main-footer{
        max-width: 100%;
    }
    .footer {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (max-width: 1100px) {
    .footer {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (max-width: 950px) {
    /*  */
    .footer {
      height: 30vh;
    }
  }
  @media (max-width: 820px) {
    /* footer */
    .footer {
      margin: 2rem 0 0 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      width: 100%;
      background: linear-gradient(100deg, rgb(0, 0, 0), rgb(2, 14, 45));
      height: 100%;
    }
    .logo-foot {
      max-width: 100%;
    }
    .about-footer {
      max-width: 30%;
      display: grid;
      justify-content: center;
    }
    .address-footer {
      max-width: 30%;
    }
    .contact-footer {
      max-width: 30%;
    }
  }
  
  @media (max-width: 600px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    /* footer */
    .footer {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      background: linear-gradient(100deg, rgb(0, 0, 0), rgb(2, 14, 45));
    }
  
    .logo-foot {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .logo-foot h1 {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      color: rgb(255, 255, 255);
      transition: 0.4s;
    }
  
    .about-footer {
      max-width: 50%;
      display: flex;
      justify-content: center;
    }
  
    .about-footer h1 {
      font-size: 0.7rem;
    }
  
    .about-footer p {
      font-size: 0.5rem;
    }
  
    .address-footer {
      max-width: 45%;
    }
    .address-footer h1 {
      font-size: 0.7rem;
    }
  
    .address-footer p {
      font-size: 0.5rem;
    }
  
    .contact-footer {
      width: 100%;
      display: grid;
      justify-content: center;
    }
    .contact-footer h1 {
      font-size: 0.7rem;
      line-height: 20px;
    }
  
    .contact-footer p {
      font-size: 0.5rem;
    }
  }
  @media (max-width: 550px) {
    .contact-footer {
      max-width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: 500px) {
    .contact-footer {
      max-width: 100%;
      display: flex;
      justify-content: center;
    }
    .text {
      color: #000000;
      font-size: 1vh;
      position: absolute;
      bottom: 0%;
      width: 70%;
      margin: 0 auto;
      margin-left: 10%;
      height: 50vh;
      text-align: left;
      display: flex;
    }
  }
  @media (max-width: 350px) {
    .footer {
      height: 100%;
    }
    .about-footer {
      max-width: 45%;
      display: flex;
      justify-content: center;
    }
  
    .address-footer {
      max-width: 45%;
      line-height: 0;
    }
    .address{
      line-height: 10px;
    }
    .address h1{
      line-height: 15px;
    }
    .address{
      line-height: 10px;
    }
  }
  