*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Taviraj', serif;
}
.container-main{
  display: flex;
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0,0,0);
}
.main-login{
  display: flex;
  justify-content: end;
  background-color: rgb(177, 177, 177);
}
.main-login ul{
  list-style: none;
}
.main-login ul li a:hover{
  color: rgb(123, 124, 123);
}
.main-login ul li a{
  text-decoration: none;
  color: white;
  margin: 0 1rem;
}
.nav-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.nav-main{
  display: flex;
  list-style: none;
}
.nav-main li{
  display: inline;
}
.nav-main li a:hover{
  background-color: rgb(86, 86, 86);
  color: white;
}
.nav-main li a{
  display: block;
  padding: 1rem 0.7rem;
  text-decoration: none;
  color: rgb(4, 4, 4);
}
.menu-toggle {
cursor: pointer;
display: none;
}
@media (max-width: 768px) {
.nav-head{
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #fdfdfd;
}
.nav-main {
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
}

.nav-main.show {
  display: flex;
}

.nav-main li {
  margin: 10px 0;
}

.menu-toggle {
  display: flex;
  justify-content: left;
  width: 25px;
  height: 100%;
  flex-direction: column;
  z-index: 999;
  align-items: center;
}
.bar {
  height: 2px;
  width: 100%;
  background-color: rgb(88, 86, 86);
  margin: 2px 0;
}
.nav-main li a:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
@media (max-width: 300px) {
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  max-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 50px;
  background-color: white;
}

.drop-item{
  display: none;
  position: absolute;
  top: 0;
  max-width: 100px;
  background-color:rgb(0, 0, 0) ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

}

}

/* ส่วน dropdown */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 50px;
  background-color: white;
}

.drop-item{
  display: none;
  position: absolute;
  top: 0;
  margin-left: 10rem;
  width: 200px;
  background-color:rgb(255, 255, 255) ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
.drop-item a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  border: 1px solid rgb(249, 245, 245);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 2;
}
.dropdown-content a:hover {background-color: #ada9a9}

.dropdown:hover .dropdown-content {
  display: block;
}
