.noti{
    animation: noti 0.5s forwards;
}
    @keyframes noti {
        from{
            opacity: 0;
            transform: translateY(0);
        }
        to{
            opacity: 10 ;
            transform: translateY(10px);
        }
    }
    .fadeout{
        animation: fadeout 0.5s forwards;
        display: none;
    }
        @keyframes fadeout {
            from {
                opacity: 10; 
                transform: translateY(0);
            }
            to {
                opacity: 0;
                transform: translateY(-10px); 
            }
        }
        .profileimage {
            cursor: pointer;
        }

    