* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.content {
  margin: 0rem 0rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("https://images.unsplash.com/photo-1693237476029-f8469bb756a2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
  background-position: center;
  background-size: cover;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .content_village h1 {
  font-size: 30px;
  color: #ffffff;
}

.body-main{
    font-family: 'Taviraj', serif;
    font-family: 'Niramit', sans-serif;
}

.container-main {
  position: relative;
  width: 1000px;
  margin: 1rem auto;
}

.container-main .box-main {
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 1rem;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgb(184, 184, 184);
}


/* .container-main h1 {
  font-size: 40px;
  font-weight: normal;
  padding: 15px;
  color: #333;
  text-align: left;
  text-transform: capitalize;
} */

.container-main .box-main .image-main {
  width: 500px;
  overflow: hidden;
  display: block;
  justify-content: center;
  
}

.container-main .box-main .image-main .image {
  height: 400px;
  width: 100%;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0);
  cursor: pointer;
  background-position: center;
  /* border-radius: 10px; */
  
}
.container-main .box-main .image-main .image img{
  width: 100%;
  height: 100%;
  transition: .2s;
}
.container-main.box-main .image-main .image img {
  object-fit: cover;
  transition: .2s linear;
}

.container-main .box-main .image-main .image:hover img {
  transform: scale(1.1);
}

.container-main .box-main .image-contaner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.container-main .box-main .image-contaner .image {
  height: 250px;
  width: 100%;
  /* border: 1px solid #fff; */
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0);
  cursor: pointer;
  background-position: center;
}

.container-main .box-main .image-contaner .image img {
  object-fit: cover;
  transition: .2s linear;
}

.container-main .box-main .image-contaner .image:hover img {
  transform: scale(1.1);
}

.container-main .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.container-main .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 101;
}

.container-main .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

.text_v .hov-text{
  transition: .2s;
}
.text_v .hov-text i{
  font-size: 20px;
}
.text_v .hov-text:hover i{
  color: rgb(194, 9, 9);
  text-shadow: 0px 2px 5px rgb(255, 0, 0);
}
.text_v .hov-text:hover{
  color: rgb(50, 50, 50);

}