* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.content {
  margin: 0rem 0rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("https://images.unsplash.com/photo-1693237476029-f8469bb756a2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
  background-position: center;
  background-size: cover;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .content_village h1 {
  font-size: 30px;
  color: #ffffff;
}

.body-main{
    font-family: 'Taviraj', serif;
    font-family: 'Niramit', sans-serif;
}

/* main-village */
.main-village {
  background-color: #ffffff;
  max-width: 1000px;
  margin: 1.5rem auto;
  border-radius: 10px;
}

.control_village{
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 1rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0,0,0);
    padding: 1rem;
}
.image-village {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  height: 45rem;
}
.image-village img {
  width: 100%;
  height: 24rem;
}

.village-story {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}
.text_h1{
  font-size: 1.2rem;
}
.flex_village {
  width: 100%;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.flex_village .Vill-flex {
  width: 100%;
}
.flex_village .Vill-flex img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.flex_village .Vill-flex .flex1:hover {
  box-shadow: 0px 10px 15px rgb(98, 97, 97);
  transform: scale(1.03);
}
 .text-village {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* food-village */
.food-village {
  margin: 2rem auto;
  max-width: 1000px;
  border-radius: 0.5rem;
  padding: 1rem;
}
.food-village .food-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border: 1px solid rgb(219, 218, 218);
  box-shadow: 0px 10px 15px rgb(225, 225, 225);
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.food-village .food-item .food-image {
  margin: 0.5rem;
  width: 100%;
  transition: 0.9s;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 0.5rem;
}

.img_main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0.5rem;
}
.food-village .food-item .food-image img {
  width: 100%;
  height: 100%;
}

.food-village .food-item .food-text {
  width: 100%;
  padding: 0 0.5rem;
}
.food-village .food-item .food-text p {
  padding: 0 1rem;
}
.btn-food {
  border-radius: 5px;
  width: 30%;
  display: flex;
  margin: 1rem auto;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(119, 119, 119);
  color: #713f06;
  transition: 0.4s;
}
.btn-food:hover {
  background-color: #ff8d0b;
  color: #fff;
  border: 1px solid rgb(194, 194, 194);
}

/* popup */
/* ซ่อน Popup Image เริ่มต้น */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  z-index: 999;
}

/* สไตล์ของรูปใน Popup */
.popup img {
  display: block;
  margin: 1rem auto;
  max-width: 70%;
  max-height: 90%;
  margin-top: 1%;
  z-index: 999;
}

/* สไตล์ปุ่มปิด Popup */
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
