@media (max-width:1300px) {}

@media (max-width:1100px) {
  .main-village {
    max-width: 950px;
  }

  .control_village {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: 500px 400px;
    gap: 1rem;
  }
}

@media (max-width: 950px) {
  .content {
    margin: 0rem 0rem;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("https://images.unsplash.com/photo-1693237476029-f8469bb756a2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
    background-position: center;
    background-size: cover;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-village {
    max-width: 100%;
  }

  .control_village {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width:820px) {
  .content {
    margin: 0rem 0rem;
    background: linear-gradient(rgba(0, 0, 0, .7),
        rgba(0, 0, 0, .7)),
      url('https://images.unsplash.com/photo-1693237476029-f8469bb756a2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');
    background-position: center;
    background-size: cover;
    height: 25vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .village-story {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  /*  */
  .food-village {
    margin: 0rem auto;
    max-width: 1000px;
    border-radius: 0.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }

  /*  */
  .control_village {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 1rem;
  }

  .image-village {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    gap: 10px;
    height: 30rem;
  }

  .image-village img {
    width: 100%;
    height: 17rem;
  }

  /* สไตล์ของรูปใน Popup */
  .image-village .popup img {
    width: 95%;
  }

  .Vill-flex .popup img {
    width: 95%;
  }
}

@media (max-width: 720px) {
  .content .content_village h1 {
    font-size: 6vw;
    color: #dfdfdf;
  }

  .main-village {
    max-width: 100%;
  }

  .flex_village {
    display: none;
  }

  .control_village {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 100%;
  }

  .image-village {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  }

  .image-village img {
    max-width: 100%;
  }

  .village-story {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  .text_vill iframe {
    max-width: 100%;
    height: auto;
  }

  .text_v {
    font-size: 3vw;
  }

  .text_h1 {
    font-size: 4vw;
  }

  /*  */
  .food-village {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .food-village .food-item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(219, 218, 218);
    box-shadow: 0px 10px 15px rgb(225, 225, 225);
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  .food-village .food-item .food-image {
    width: auto;
  }

  .food-village .food-item .food-image img {
    max-width: 100%;
  }

}

@media (max-width:300px) {
  .food-village {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}